#windows {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
}

#windows webview {
    flex-grow: 1
}

#windows .sidePanel {
    width: max-content;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
}

#tabs {
    -webkit-app-region: drag;
    width: 85%;
}

#tabs x-label {
    padding: 5px;
}

#windows webview {
    width: 100%;
    height: 100%;
    display: none;
}

x-doctab img {
    animation: scaleIn .15s;
}

x-doctab x-label {
    animation: fadeIn .15s;
}

.list x-label {
    padding: 1px;
}

.list {
    padding: 5px;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

webview {
    background-color: white;
}

#windows webview.open {
    display: flex;
}

.setting {
    display: none;
}

.setting.open {
    display: inherit;
    animation: fadeIn .25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: system-ui;
}

#browser {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#tabs x-throbber {
    margin-bottom: 5px;
    padding-right: 5px;
    width: 15px;
    height: 15px;
}

#titlebar {
    display: block;
    width: max-content;
    background: var(--background-color);
    height: 100%;
}

#main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
}



#tabGrp {
    display: flex;
    width: 100%;
    height: 22px;
}

#tabs {
    z-index: 56;
    outline: none;
}

#titlebar {
    width: max-content;
    padding: 0;
    margin-left: auto;
    z-index: 55;
    height: 100%;
}

#searchbar {
    width: 100%;
    max-width: 100vw;
    border-radius: 5px;
    height: 75%;
    margin: auto;
    margin-top: 5px;
    border: none;
    color: #ffffffb0;
    transition: color .25s;
}

#searchbar:hover {
    color: rgba(255, 255, 255, 0.911);
}

#searchbar:focus {
    color: white;
}

x-input::part(input)::selection {
    background: rgb(87, 124, 202) !important;
}

x-input {
    border-radius: 5px;
}

*::selection {
    background: rgb(87, 124, 202) !important;
}

.cntrlBtns {
    display: flex;
    margin: auto;
}

.cntrlBtns x-button {
    margin: 5px;
}

.cntrlBtns x-button x-icon {
    height: 14px !important;
    width: 14px !important;
}

.cntrlBtns #reloadBtn img {
    margin: auto;
    display: block;
    height: 10px;
    margin-top: 7px;
}

#reloadBtn {
    min-width: 24px;
}

x-doctab {
    outline: none !important;
    border-radius: 2px;
}

.sidePanel#historyPanel {
    width: 300px;
}

@media (prefers-color-scheme: dark) {
    x-doctab:hover {
        background: rgb(144 144 144 / 10%) !important;
    }

    #tabs x-doctab[selected] {
        background: #4c4c4c !important;
    }
}

@media (prefers-color-scheme:light) {

    #searchbar {
        color: #3a3a3ab0 !important;
    }

    #searchbar:hover {
        color: rgba(46, 46, 46, 0.911) !important;
    }

    #searchbar:focus {
        color: rgb(0, 0, 0) !important;
    }

    #window-controls .button {
        filter: contrast(.25);
    }

    #close-button:hover {
        filter: none;
    }
}

dialog {
    top: 25% !important;
    border-radius: 7px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    height: 50vh !important;
}

x-throbber {
    min-width: 15px;
}

#settingsModal {
    width: 50vw;
}

.opt {
    display: flex;
}

.opt span {
    width: 90%;
}

#bgs {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 10px;
    width: 100%;
    row-gap: 6px;
    column-gap: 95px;
}

#bgs img {
    height: 15vh;
    margin: 5px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-drag: none;
    border: solid 3px transparent;
    min-width: 200px;
}

#bgs img:hover {
    border-color: grey;
}

#bgs img.selected {
    border: solid 3px var(--accent-color);
}

#bgUploadBtn {
    background-color: var(--dark-background-color);
    width: 200px;
    height: 15vh;
    border-radius: 5px;
    margin-top: 7px;
}
#bgUploadBtn:hover{
    filter: brightness(.95);
}
#bgUploadBtn span {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 8%;
    user-select: none;
}

#bgUploadBtn x-icon {
    height: 50px !important;
    margin: auto;
    margin-top: 3%;
    width: 50px !important;
}
x-doctab::part(close-button) {
    left: inherit !important;
    right: 0;
    border-radius: 5px;
}
.toolbarBtns x-button{
    margin-right: 10px;
    margin-left: 10px;
}
x-doctabs::part(open-button){
    border-radius: 2px;;
}
