html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #262626;
    color: white;
    font-family: system-ui;
}

main h1 {
    display: flex;
    height: 100px;
    margin: auto;
    width: max-content;
    margin-bottom: 30px;
}

main h1 span {
    margin-top: 23px;
    font-size: 42px;
    margin-left: 15px;
    height: 100px;
    font-size: 50px;
}

main img {
    height: 75px;
    padding-top: 15px;
}

main h1 * {
    margin: auto;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin: auto;
    width: max-content;
    height: max-content;
    margin-top: 25vh;
}

#searchbar {
    font-size: 22.5px;
    line-height: 1.2rem;
    width: 60vw;
    border-radius: 5px;
    border: none;
    background-color: #333333c4;
    padding: 15px;
    backdrop-filter: blur(10px);
    color: #ffffffd9;
    transition: box-shadow .15s, background .115s;
    box-shadow: rgba(0, 0, 0, 0.349) 0px 3px 8px;
}

#searchbar:hover {
    background: #383838de;
}

#searchbar:focus {
    background: #383838de;
    border: none;
    outline: none;
    box-shadow: rgb(0 0 0 / 32%) 0px 3px 8px 2px;
}

@media (prefers-color-scheme: light) {

    html,
    body {
        background-color: #EEF2F6;
        color: black;
    }

    #searchbar {
        background-color: #fbfbfbdb;
        box-shadow: rgb(179 179 179 / 35%) 0px 3px 8px;
        color: #353535d9;
    }

    #searchbar:focus,
    #searchbar:hover {
        background: #ffffffeb;
    }

    #searchbar:focus {
        box-shadow: rgb(187 187 187 / 32%) 0px 3px 8px 2px !important;
    }
}

@media (prefers-color-scheme: dark) {
    path {
        fill: rgba(255, 255, 255, 0.877);
    }
}

#settingsBtn {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 20px;
    height:20px;
    filter: brightness(.75);
    transition: all .25s;
}

#settingsBtn:hover {
    filter: brightness(1);
}